@import './variables';

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

.color-primary {
  color: $primary-color !important;
  --color-active: #{$primary-color};
}

.color-extra {
  color: $extra-color !important;
  --color-active: #{$extra-color};
}

.color-success {
  color: $success-color !important;
  --color-active: #{$success-color};
}

.color-danger {
  color: $danger-color !important;
  --color-active: #{$danger-color};
}

.bg-primary {
  background-color: $primary-color !important;
}

.bg-extra {
  background-color: $extra-color !important;
}

.bg-success {
  background-color: darken($success-color, 10%) !important;
}

.bg-danger {
  background-color: $danger-color !important;
}

.shadow-0 {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.05) 0 1px 2px 0;
}

.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 1px 3px 0,
    rgba(0, 0, 0, 0.06) 0 1px 2px 0;
}

.shadow-2 {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

.shadow-3 {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

.shadow-4 {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}

.shadow-5 {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
}
