@import 'src/styles/variables';
$borderColor: #bebebe;
$brandColor: #0ac682;

.landscape-suggestion {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 4px;
  background: transparentize($dayBg, 0.03);
  backdrop-filter: blur(1px);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  z-index: 999;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 2em;
  }

  @media (orientation: portrait) and (max-width: 800px) {
    display: flex;

    @at-root body {
      overflow: hidden;
    }
  }
}

:host {
  display: block;
}

::-webkit-scrollbar {
  background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
}

hr {
  margin: 36px;
}

.brand {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: $dayBg;
  font-size: 2em;
  font-weight: 400;
  line-height: 1;
  min-height: 48px;
  padding: 6px;

  img {
    width: 24px;
    flex-shrink: 0;
    margin-right: 6px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    border-left: 50vw solid black;
    border-bottom: 48px solid #ff670000;
  }

  @media all and (max-width: 800px) {
    display: flex;
    &:after {
      display: none;
    }
  }
}

.live {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;

  > div {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 100%;
    position: absolute;

    &:nth-child(1) {
      background: $brandColor;
      animation: live 1s infinite alternate-reverse cubic-bezier(0.83, -0.02, 0.24, 1.05);
    }
    &:nth-child(2) {
      border-color: $brandColor;
    }
  }
}

@keyframes live {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

header {
  text-align: center;

  h1 {
    text-transform: capitalize;
  }

  hr {
    width: 20%;
    margin: 12px auto 48px;
  }
}

header,
main {
  margin: 18px auto;
  max-width: 1024px;
  width: 100%;

  @media all and (max-width: 600px) {
    padding: 0 4px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: auto;
  max-width: 600px;
}

.text-highlight {
  box-shadow: 0 0.05em 0 0 black;
}

.section-title {
  margin: 12px auto;
  text-align: center;

  @at-root h2#{&} {
    padding: 12px 0;
  }

  a {
    color: inherit;
    &[href^='#'] {
      position: relative;
      &:hover:before {
        content: '#';
        position: absolute;
        margin-right: 0.1em;
        right: 100%;
        top: -0.15em;
        font-size: 1.2em;
        font-weight: bolder;
        color: rgb(0, 179, 107);
      }
    }
  }
}

.section-description {
  margin: 12px auto;
  font-size: 1.3rem;
  text-align: center;
}

highcharts-chart {
  display: block;
  max-width: 96vw;
  width: 100%;
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin-right: 6px;
  height: 30px;
  width: 28px;
  display: inline-flex;
  align-items: center;
  span {
    font-size: 22px;
  }
}

.table-container {
  overflow: auto;
  margin: 12px 0;
  max-width: 96vw;
  padding: 10px;

  .buttons {
    text-align: center;
    button {
      font-weight: bold;
    }
  }
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 8px auto;
  border-radius: 12px;
  overflow: hidden;
  background: rgb(255 255 255 / 90%);

  tr {
    &[data-sort-order='desc'] {
      th.active:after {
        content: '▼';
      }
    }
    &[data-sort-order='asc'] {
      th.active:after {
        content: '▲';
      }
    }

    &:not(:last-child) td {
      border-bottom: 1px solid $borderColor;
    }

    animation: 0.8s verticalFlip forwards;
  }

  th {
    padding: 8px 12px;
    font-size: 1.1em;
    cursor: pointer;
    user-select: none;
    text-overflow: ellipsis;

    &[colspan] {
      border: 1px solid $borderColor;
      border-bottom: none;
      cursor: auto;
    }

    &.border-left {
      border-left: 1px solid $borderColor;
    }

    &.border-right {
      border-right: 1px solid $borderColor;
    }
  }

  tbody {
    tr:first-child {
      background: #ededed;
    }
  }

  td {
    font-size: 1.1em;
    font-weight: 500;
    padding: 2px 12px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:empty:before,
    span:empty:before {
      content: '‒';
    }

    &.numbers {
      text-align: right;
      letter-spacing: 0.1em;
    }
  }
}

select {
  display: block;
  width: 80%;
  max-width: 300px;
  padding: 8px;
  border-radius: 6px;
  margin: 12px auto auto;
  font-size: 1.2rem;
  outline: none;

  &:focus {
    border: 1px solid #00b36f;
    box-shadow: 0 0 0 1px #00b36f;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  margin: 140px 0 0;
  padding: 12px;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  background: darken($dayBg, 2%);

  p {
    margin: 32px 12px;
  }

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes verticalFlip {
  from {
    transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0);
    opacity: 1;
  }
}
